*{
    box-sizing: border-box;
}
#cookie{
    display: block;
    max-width: 320px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}
#counter{
    text-align: center;
    font-family: "Pacifico";
    font-size: 25px;
}
body{
    background-image: url("../img/stadion.jpg");
    background-size: cover;
}